<h2>Dashboard</h2>

<div class="createButton">
    <a href="/create"><button>Create Post</button></a>
</div>
<!-- shows all posts that belong to user -->
{{#each posts as |post|}}

<section>
    <div class="postDiv">
        <div class="postHeader">
            <h2>{{post.title}}</h2>
            <p>Posted by {{post.user.name}} on {{format_date post.date_created}}</p>
        </div>  
        <div class="postBody">
            <p>{{post.post_content}}</p>
        </div>
    </div>
<a href="/edit/{{post.id}}"><button>Edit This Post</button></a>
</section>

{{/each}}