<h2>Dashboard</h2>

<div>
    <a href="/create"><button>Create Post</button></a>
</div>
<!-- shows all posts that belong to user -->
{{#each posts as |post|}}

<section>
    <div class="form">
        <div>
            <h2>{{post.title}}</h2>
            <p>Posted by {{post.user.name}} on {{format_date post.date_created}}</p>
        </div>  
        <div>
            <p>{{post.post_content}}</p>
        </div>
    </div>
<a href="/update/{{post.id}}"><button>Update This Post</button></a>
</section>

{{/each}}